.btn-input-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: var(--text-muted);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: var(--transition);
  z-index: 10;
}

.btn-input-icon:hover {
  color: var(--primary);
}

hr.opacity-10 {
  opacity: 0.1;
  border-color: var(--text-muted);
}
